<div class="container">
  <div class="content-header">
    <div class="content-header-left">
      <div class="content-item">
        <div class="content-item-header">Điện Thoại</div>
        <span class="content-item-conten">039 3370 172</span>
      </div>
      <div class="content-item">
        <div class="content-item-header">Địa Chỉ</div>
        <span class="content-item-conten"
          >140 Đ.Lê Trọng Tấn, Tây Thạnh, Tân Phú, Hồ Chí Minh, Việt Nam</span
        >
      </div>
      <div class="content-item">
        <div class="content-item-header">Email</div>
        <span class="content-item-conten"
          >nguyenminhhieuuuu.18&#64;gmail.com</span
        >
      </div>
    </div>
    <div class="content-header-right">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497.0076442057489!2d106.62862697810287!3d10.806911870123379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b0f70a07397%3A0x3618522127c73084!2zSFVJVCBNRURJQSAtIEvDqm5oIHRow7RuZyB0aW4gdsOgIHRydXnhu4FuIHRow7RuZyDEkOG6oWkgaOG7jWMgQ8O0bmcgVGjGsMahbmcgVFBIQ00!5e0!3m2!1svi!2s!4v1731451477450!5m2!1svi!2s"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <div class="content">
    <img src="assets/background/item-1.png" alt="Image Description" />
    <span class="label">Bạn Có Thắc Mắc?</span>
  </div>

  <div class="content-V2">
    <form action="#">
      <p class="header">Góp Ý Của Bạn</p>
      <input
        data-aos="fade-right"
        type="text"
        name="name"
        id="name"
        placeholder="Tên của bạn*"
        class="w-49 pd h-65 inp"
        required
      />
      <input
        data-aos="fade-left"
        type="email"
        name="email"
        id="mail"
        placeholder="Email của bạn*"
        class="w-49 pd h-65 inp"
        required
      />
      <textarea
        data-aos="fade-up-left"
        name="messages"
        id="messages"
        placeholder="Nội dung..."
        class="h-300 w-65 w-100 pd inp tar"
        required
      ></textarea>
      <button
        data-aos="zoom-in-up"
        type="submit"
        class="btn btn-sub h-65 pd w-200"
      >
        Gửi Tin Nhắn
      </button>
    </form>
  </div>
</div>
