.container {
    width: 100%;
    position: relative;
}

.content-header {
    height: 350px;
    display: flex;;
    justify-content: space-between;
}

.content-header-right, .content-header-left {
    width: 50%;
    overflow: hidden;
    height: 100%;
}

.content-header-left {
    background-color: var(--secon-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-item-header {
    font-size: 1.6em;
    font-family: var(--main-style);
    font-style: italic;
    color: var(--secon-text-color);
    text-align: center;
    margin-bottom: 10px;
}

.content-item-conten {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.content {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    overflow: hidden;
    position: relative;
}

.content img {
    /* width: 80px; */
    height: 100%;    
}

.label {
    position: absolute;
    color: var(--secon-text-color);
    font-family: var(--main-style);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .8em;
}


form {
    padding: 15px 10%;
    display: flex;
    width: 50%;
    margin: 15px auto;
    flex-direction: row;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    height: 560px;
    align-content: space-between;
    justify-content: space-between;
}

.header {
    width: 100%;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    font-family: fangsong;
    padding: 0;
    margin: 0 auto 30px;
}

.w-49 {
    width: calc(49% - 62px);
}

.w-100 {
    width: calc(100% - 60px);
}

.w-200 {
    width: 200px;
}

.h-65 {
    height: 65px;
}

.h-300 {
    height: 300px;
}

.pd {
    padding: 0 30px;
}

.btn-sub {
    border: none;
    outline: none;
    color: #fff;
    background-color: #383435;
    margin: auto;
    cursor: pointer;
    font-size: 18px;
    font-family: cursive;
    transition: background-color .5s ease;
}

.btn-sub:hover {
    background-color: #fbc65f;
}

.inp {
    transition: all 2s linear;
    color: #383435;
    font-size: 12px;
    outline: none;
    border: 1px solid var(--secon-text-color);
}

.inp:hover {
    /* border: none; */
    outline: 2px solid var(--secon-text-color);
}

.tar {
    padding: 10px 30px;
}