.container {
    width: fit-content;
    font-size: inherit;
    color: inherit;
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select, input {
    padding: 5px 10px;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: inherit;
}

input {
    border: 1px solid var(--secon-text-color);
    width: 80px;
    margin: 0 10px;
}

.addCommune {
    cursor: pointer;
    padding: 5px 0 0 0;
    font-size: inherit;
    color: var(--secon-color);
    width: 100%;
    text-align: center;
    width: 20px;
}