<div class="container">
  <select
    name="commune"
    [(ngModel)]="selectedCommuneId"
    *ngIf="!isShowInput"
    (change)="onCommuneChange()"
  >
    <!-- *ngIf="" -->
    <option
      *ngFor="let item of commune"
      [value]="item.communeId"
      id="{{ item.communeId }}"
    >
      {{ item.communeName }}
    </option>
  </select>
  <input
    type="text"
    name="commune-ins"
    id="commune-ins"
    *ngIf="isShowInput"
    (change)="onCommuneChange()"
    [(ngModel)]="communeInput.communeName"
  />
  <span class="addCommune" (click)="isCommuneChange()" *ngIf="!isShowInput">
    <i class="fa-solid fa-plus"></i>
  </span>
  <span class="addCommune" (click)="isCommuneChange()" *ngIf="isShowInput">
    <i class="fa-solid fa-minus"></i>
  </span>
</div>
