.container {
    max-width: 1400px;
    min-height: 800px;
    background-color: #fff;
    width: 1300px;
    /* width: 1400px; */
    height: 800px;
    position: relative;
    border-radius: 10px;
    padding: 10px;
}

.close {
    padding: 0;
    top: 13px;
    right: 16px;
    background-color: transparent;
    border: transparent;
    outline: none;
    position: absolute;
    font-size: 2em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.close:hover {
    color: var(--secon-color);
}

.header {
    background: #f8990017;
    width: calc(100% - 15px);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 0;
    font-family: var(--main-style);
    overflow: hidden;
    white-space: nowrap;
    /* width: 100%; */
    color: #5f5f5f;
    animation: width-1-100 3.5s ease-in-out;
}

.header>span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>span>span {
    height: 40px;
    width: 10px;
    background-color: var(--secon-color);
    margin-right: 15px;
    display: block;
}

.header-action {
    width: calc(100% - 30px);
    margin: 0 0 10px 0;
    height: calc(65px - 10px);
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 0 0 #e0dfdf;
}

.header-action button {
    padding: 10px;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px;
    padding: 10px;
    background-color: var(--secon-color);
    color: #fff;
}

.header-action .inp-box input {
    font-size: 1.1em;
    border: 1px solid var(--secon-color);
    font-style: var(--main-style);
    padding: 8px 0 8px 10px;
    outline: none;
}

.header-action .inp-box label {
    margin-right: 10px;
    font-style: italic;
    font-family: var(--main-style);
}

.content {
    height: calc(100% - 135px);
}

.address input {
    width: 600px;
    text-align: center;
}

.header-action .del {
    background-color: red;
}

.notification {
    top: 80px;
    right: 0;
    position: fixed;
}

.header-action .action {
    min-width: 165px;
}

.action button {
    font-size: .8em;
}