<div class="wrapper">
  <fieldset class="filter-price">
    <div class="price-field">
      <input #lowerSlider type="range" min="0" max="500" value="100" />
      <input #upperSlider type="range" min="100" max="500" value="500" />
    </div>
    <div class="price-wrap">
      <div class="price-wrap-1">
        <input #one id="one" readonly />
        <label for="one">$</label>
      </div>
      <div class="price-wrap_line">-</div>
      <div class="price-wrap-2">
        <input #two id="two" readonly />
        <label for="two">$</label>
      </div>
    </div>
  </fieldset>
</div>
