<!-- Top Bar -->
<header class="top-bar">
  <h2 class="top-bar-title">Quản Lý Kho</h2>
  <button class="top-bar-button" (click)="handleAddWareHouse()">Thêm Kho</button>
</header>

<div class="add-cate" *ngIf="flag" [ngClass]="{ hiden: !isShowAddWarehouuse && flag, show: isShowAddWarehouuse }">
  <div class="content-add-cate">
      <app-add-warehouse (isClose)="handleCloseAdd($event)"></app-add-warehouse>
  </div>
</div>

<div class="cate-detail" *ngIf="flagDetail" [ngClass]="{ hiden: !isShowDetail && flagDetail, show: isShowDetail }">
  <app-view-warehouse (isClose)="handleCloseDetail($event)" [Warehouse]="selectWarehouseUpdate"></app-view-warehouse>
</div>

<div class="header-action">
  <div class="btn-search">
    <input type="text" [(ngModel)]="searchTextIn" name="search" id="search" placeholder="Nhập từ khóa..." />
    <button class="search" (click)="handleSearchWarehouse()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</div>
<!-- Kho Information Section -->
<div class="section">
  <h3 class="section-title">Danh Sách Kho</h3>

  <table class="table">
    <thead>
      <tr class="table-header">
        <th class="table-cell">Mã Kho</th>
        <th class="table-cell">Tên Kho</th>
        <th class="table-cell">Địa Chỉ</th>
        <th class="table-cell">Nhân viên Tạo</th>
        <th class="table-cell">Thời gian tạo</th>
        <th class="table-cell">Thời gian sửa đổi</th>
        <th class="table-cell">Thao Tác</th>
      </tr>
    </thead>
    <tbody class="text-gray-700">
      <tr *ngFor="let warehouse of warehouses">
        <td class="table-cell">{{ warehouse.warehouseId }}</td>
        <td class="table-cell">{{ warehouse.warehouseName }}</td>
        <td class="table-cell">{{ warehouse.fullAddress }}</td>
        <td class="table-cell">{{ warehouse.modifiedBy }}</td>
        <td class="table-cell">{{ warehouse.createTime }}</td>
        <td class="table-cell">{{ warehouse.modifiedTime }}</td>
        <td class="table-cell">
          <!-- <button class="btn-view">Xem</button> -->
          <button class="btn-edit" (click)="onChangeSelectedWarehouse(warehouse)">Sửa</button>
          <button
            class="btn-delete"
            (click)="onShowDeleteWareHouse(warehouse.warehouseId)"
          >
            Xóa
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div *ngIf="warehouses.length === 0 && searchTextIn?.trim()">
  <p>Không tìm thấy kho nào với từ khóa "<strong>{{ searchTextIn }}</strong>".</p>
</div>
<div *ngIf="warehouses.length === 0 && !searchTextIn?.trim()">
  <p>Danh sách kho hiện đang trống.</p>
</div>
<div *ngIf="warehouses.length > 0"> -->
  <!-- Hiển thị danh sách kho -->
<!-- </div> -->


<div class="notification">
  <app-notification [data]="dataNotification" [trigger]="trigger">
      
  </app-notification>
</div>


<!-- Kệ và Ô Section -->
<!-- <div class="section">
  <h3 class="section-title">Danh Sách Kệ và Ô</h3>
  <div id="rackInfo"></div>
</div> -->
