<div class="container">
  <button (click)="sendIsClose()" class="close">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <div class="header">
    <span class="header-text no-select">
      <span></span>
      Thêm Loại Sản Phẩm Phụ</span
    >
  </div>
  <div class="header-action"></div>

  <div class="content">
    <div class="inp-form">
      <label class="no-select" for="name-product"
        >Tên loai sản phẩm phụ:
      </label>
      <input
        type="text"
        [(ngModel)]="subCategory.subCategoryName"
        (ngModelChange)="checkCategoryProperties()"
        id="name-product"
        placeholder="Tên loại sản phẩm..."
      />
    </div>
  </div>

  <button (click)="onDelete()" class="no-select del-btn">Xóa</button>
  <button (click)="onUpdate()" *ngIf="isAdd" class="no-select insert">
    Thêm
  </button>
</div>
