<div class="container-product-moderator">
  <div class="header">
    <span class="header-text">
      <span></span>
      Danh Sách Sản Phẩm</span
    >
  </div>

  <div class="header-action">
    <div class="btn-add-product btn">
      <i class="fa-solid fa-plus"></i>
      Thêm sản phẩm
    </div>
    <div class="btn-search">
      <input type="text" name="search" id="search" />
      <button class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

  <div class="content">
    <table>
        <tbody>
            <tr>
                <th style="width: 20%;">Tên sản phẩm</th>
                <th style="width: 15%;">Ảnh</th>
                <th style="width: 10%;">Tồn kho</th>
                <th style="width: 10%;">Giá</th>
                <th style="width: 15%;">Loại sản phẩm</th>
                <th style="width: 15%;">Loại sản phẩm phụ</th>
                <th style="width: 15%;">Chức năng</th>
            </tr>
        </tbody>
    </table>
  </div>
</div>
