.container-product-moderator {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  background-color: #fff;
  padding: 15px;
  border-radius: 1.2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.header {
  background: #f8990017;
  width: calc(100% - 15px);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 0;
  font-family: var(--main-style);
  overflow: hidden;
  white-space: nowrap;
  /* width: 100%; */
  color: #5f5f5f;
  animation: width-1-100 3.5s ease-in-out;
}

.header-action {
  width: calc(100% - 30px);
  margin: 0 0 10px 0;
  height: calc(50px - 10px);
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 0 #e0dfdf;
}

.header > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > span > span {
  height: 40px;
  width: 10px;
  background-color: var(--secon-color);
  margin-right: 15px;
  display: block;
}

.btn {
  width: fit-content;
  font-size: 0.7em;
  padding: 8px 15px;
  margin: 0;
}

.btn i {
  margin-right: 5px;
}

.btn-add-product {
  background-color: #3920f1;
  color: #fff;
}

.btn-search {
  overflow: hidden;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  height: 28px;
}

.btn-search input {
  border: none;
  outline: none;
  height: 100%;
  width: 80%;
  color: var(--secon-text-color);
  padding: 0 10px;
}

.btn-search button {
  border: none;
  outline: none;
  height: 100%;
  width: 20%;
  color: #fff;
  background-color: var(--secon-color);
  cursor: pointer;
}

@keyframes width-1-100 {
  0% {
    width: 0%;
  }
  100% {
    width: calc(100% - 15px);
  }
}
/* ################################################################################ */

.content {
  margin-top: 5px;
  width: 100%;
}

.content table {
  width: 100%;
  border-collapse: separate; /* Để khoảng cách giữa các hàng hoạt động */
  border-spacing: 0 10px; /* Tạo khoảng cách giữa các hàng */
}

.content table tr {
  width: 100%;
  margin: 5px 0;
}

.content table tr th {
  font-weight: 400;
  font-family: var(--main-style);
  color: var(--main-text-color);
  font-size: 0.8em;
  box-shadow: 0 1px 0 0 #ddd;
  padding: 0 0 10px 0;
}

.min-text {
  font-size: 0.7em;
}

.td-name {
  /* text-align: center; */
  font-size: 0.8em;
}

.td-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.td-total-quantity {
  font-size: 0.8em;
}

.td-operation {
  text-align: center; /* Căn giữa theo chiều ngang */
  vertical-align: middle; /* Căn giữa theo chiều dọc */
}

.td-operation button {
  margin: 0 3px;
  cursor: pointer;
  border: none;
  padding: 3px 5px;
  border-radius: 3px;
  outline: none;
}

.btn-del {
  background-color: rgba(249, 102, 102, 0.7);
  color: red;
}

.btn-modi {
  background-color: #f7c66cb1;
  color: #f89900;
}

td span {
  padding: 5px 10px;
  border-radius: 5px;
}

.bg-green {
  background-color: #00ff005c;
  color: green;
}

.bg-red {
  background-color: #fa1e1e5c;
  color: red;
}

.bg-orange {
  background-color: rgba(255, 167, 4, 0.323);
  color: orange;
}

/* f-content */

.f-content {
  width: 100%;
  height: 35px;
  /* background-color: #5f5f5f; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.f-content span {
  width: 50%;
  text-align: left;
  padding-left: 20px;
  font-family: var(--main-style);
  font-size: .7em;
}

.page {
  padding-right: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: #f89900; */
}

.page button {
  padding: 2px;
  width: 20px;
  height: 20px;
  border: none;
  font-size: 0.8em;
  outline: none;
  margin: 0 2px;
  cursor: pointer;
}

.btn-page {
  background-color: var(--main-color);
  color: #fff;
  cursor: none;
}

.no-active {
  background-color: #626262ba;
  color: #fff;
  cursor: none !important;
  opacity: .2;
}

.add-product {
  width: 100%;
  background: rgba(190, 193, 193, 0.532);
  height: 100%;
  position: absolute;
  top: 0;  
  left: 100%;
  display: flex;
  justify-content: center;
  transition: all ease .5s;
  align-items: center;
}

.content-add-product {
  width: 50%;
  min-width: 550px;
  height: 50%;
  min-height: 350px;
  /* background-color: #3920f1; */
}

.show {
  left: 100%;
  animation: r-to-l 1.5s ease-in-out forwards;
  /* left: 0 !important; */
}

@keyframes r-to-l {
  0% {
    left: 100%;
    opacity: 0;
  } 100% {
    left: 0;
    opacity: 1;
  }
}

.hiden {
  left: 0%;
  animation: l-to-r 1.5s ease-in-out forwards;
  /* left: 120% !important; */
}

@keyframes l-to-r {
  0% {
    left: 0;
    opacity: 1;
  } 100% {
    left: 100%;
    opacity: 0;
  }
}