body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: #2d3748;
    color: white;
    width: 250px;
    padding: 20px;
}

.sidebar-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    color: #edf2f7;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.1rem;
}

.sidebar-item:hover {
    background-color: #4a5568;
    padding-left: 10px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;

    /* position: relative; */
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edf2f7;
    padding: 20px;
    margin-bottom: 20px;
}

.top-bar-title {
    font-size: 1.5rem;
}

.top-bar-button {
    padding: 10px 15px;
    background-color: #38a169;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-bar-button:hover {
    background-color: #2f855a;
}

.section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    background-color: #edf2f7;
    font-weight: bold;
}

.table-cell {
    padding: 10px;
    border: 1px solid #ccc;
}

.btn-view,
.btn-edit,
.btn-delete {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-view {
    background-color: #3182ce;
    color: white;
}

.btn-edit {
    background-color: #f6ad55;
    color: white;
}

.btn-delete {
    background-color: #e53e3e;
    color: white;
}

.btn-view:hover {
    background-color: #2b6cb0;
}

.btn-edit:hover {
    background-color: #dd6b20;
}

.btn-delete:hover {
    background-color: #c53030;
}

.rack-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.rack-list {
    list-style-type: none;
    padding: 0;
}

.rack-item {
    font-size: 1rem;
    padding: 5px 0;
}