<div class="bg-gray-100">
    <!-- Container -->
    <div class="container">
      <!-- Sidebar -->
      <div class="sidebar">
        <h4 class="sidebar-title">Nhân Viên Quản Lý</h4>
        <nav class="sidebar-nav">
          <a (click)="click_warehouse_managerment()" class="sidebar-item">Quản Lý Kho</a>
          <a class="sidebar-item" (click)="click_add_Test()">Test Thêm Kho</a
          >
          <a class="sidebar-item">Quản Lý Đơn Hàng</a>
          <a class="sidebar-item">Báo Cáo Thống Kê</a>
          <a class="sidebar-item" (click)="logOutHandler()">Đăng Xuất</a>
          <!-- <a (click)="logOutHandler()" class="sidebar-item">Đăng Xuất</a> -->
        </nav>
      </div>
  
      <!-- Main Content -->
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  