.container {
  /* height: 100vh; */
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  animation: slide-right-in 0.5s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.content-f {
  background-color: transparent;
  width: 20%;
  transition: all 0.6s ease-in-out;
}

.User-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 150px; */
}

.User-header i {
  display: none;
  font-size: 4em;
  background-color: #c6c4c4;
  padding: 25px;
  border-radius: 50%;
  color: aliceblue;
  font-weight: bolder;
}

.User-header span {
  font-size: 2.8em;
  font-style: italic;
  color: var(--main-color);
  font-weight: 600;
  font-family: monospace;
}

.content-f ul {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
  transition: all 0.6s ease-in-out;
}

.content-f ul li {
  margin: 10px 20px;
  cursor: pointer;
  padding: 0;
  width: calc(100% - 55px);
  padding: 10px 18px;
  font-size: 1.4em;
}

.dashboard-item {
  font-size: 1.6em;
  font-family: var(--main-style);
  transition: all 0.5s ease-in-out;
  border-radius: 15px 0 0 15px;
}

.dashboard-item i {
  margin-right: 15px;
  transition: all 0.7s ease-in-out;
}

.dashboard-item span {
  font-size: 0.7em;
  transition: all 0.7s ease-in-out;
}

.dashboard-item.active {
  background-color: #f294009e;
}

.dashboard-item.active i {
  color: #fff;
}

.dashboard-item.active span {
  color: #fff;
  animation: colorChange 0.6s ease-in-out;
}

.dashboard-item:hover {
  background-color: #f294009e;
}

.dashboard-item:hover i {
  color: #fff;
}

.content-r {
  width: 80%;
  border-radius: 15px;
  min-height: 50vh;
  overflow: hidden;
  background-color: transparent;
  transition: all 0.6s ease-in-out;
}

.content {
  /* height: calc(100% - 30px); */
  width: calc(100% - 30px);
  margin-left: 1px;
  padding: 15px;
  background-color: #f294009e;
  animation: slide-left-in 1s ease-in-out;
  transition: all 0.6s ease-in-out;
  border-radius: 15px;
  min-height: calc(100% - 30px);
}

.no-change {
  background-color: #e3dddd !important;
}

.confirmDelete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #c7c7c71a;
}

.confirmDelete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirmDelete-content {
  min-width: 280px;
  width: fit-content;
  background-color: #fff;
  height: 150px;
  border-radius: 5%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: var(--main-style);
  justify-content: space-between;
}

.text-main {
  width: calc(100% - 40px);
  padding: 10px 0;
}


.confirmDelete-content > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirmDelete-content > div > button {
  border: none;
  outline: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1.1em;
  transition: all .5s ease-in-out;
}

.text-main {
  font-size: 1.3em;
}

.confirmDelete-content > div > button:hover {
  color: #fff;
}

.confirm-btn {
  background-color: rgb(152, 152, 255);
  color: blue;
}

.close-btn {
  color: #000;
  background-color: #686868;
}
