p {
  margin: 0;
}

.header {
  width: 100%;
  height: 50px;
}

.header span {
  font-size: 1.6em;
  font-family: var(--main-style);
  color: var(--main-text-color);
}

.secon-content {
  margin-top: 30px;
  border-radius: 15px;
  padding: 5px;
  transition: all 0.6s ease-in-out;
  width: calc(100% - 10px);
}

.box-content {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 15px 0;
  transition: all 0.6s ease-in-out;
}

.box-content label {
  width: calc(30% - 10%);
  font-size: 0.6em;
  text-align: end;
  font-family: var(--main-style);
  color: #fff;
  font-style: italic;
  padding-right: 5%;
}

.box-content input,
.box-input,
.box-input select {
  width: calc(80% - 20px);
  border: none;
  padding: 8px 10px;
  font-size: 0.7em;
  /* border: 1px solid var(--secon-text-color); */
  outline: none;
  background-color: #fff;
  color: var(--main-text-color);
}

select {
  width: calc(100% + 2px) !important;
}

.box-input {
  border: none;
  padding: 0;
}

.box-input input,
.box-input select {
  height: 100%;
  width: calc(100% - 20px);
}

.button-main {
  width: fit-content;
  margin: 0 0 0 auto;
  padding: 10px 40px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.button-main:hover {
  color: #fff;
  background-color: var(--main-color);
}

.edit-adress {
  font-size: 0.7em;
  padding: 10px;
  font-style: italic;
  cursor: pointer;
  color: var(--main-color);
  transition: all 0.5s ease-in-out;
}

.edit-adress:hover {
  color: var(--secon-color);
}

.box-edit-address {
  transition: all 0.5s ease-in-out;
  /* background-color: aqua; */
  height: 100px;
  width: 100px;
  color: var(--main-text-color);
  font-size: 0.6em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 31px;
  /* border: 1px solid var(--secon-text-color); */
  width: 100%;
  height: fit-content;
  padding: 5px 0;
}

.notification {
  position: fixed;
  top: 130px;
  right: 0;
  z-index: 9999;
}

/* -- Order */

/* .header-order {
} */

.header-order ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  font-family: var(--main-style);
  font-style: italic;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.header-order ul li {
  padding: 10px 15px;
  width: 15%;
  text-align: center;
  cursor: pointer;
}

.unline {
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  width: 16.6666%;
  z-index: 0;
  pointer-events: none;
  transition: transform 0.35s;
  transform: translateX(0); /* Sử dụng translateX để di chuyển */
}

.active {
  color: var(--main-color);
}

.content-order {
  background-color: transparent;
  /* width: calc(100% - 20px); */
  /* padding: 10px; */
  min-height: calc(100px - 20px);
  margin-top: 10px;
  border-radius: 0 0 5px 5px;
}

.content-order-header {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 10px;
}

.content-order-header-header {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}

.content-order-header > .content-order-header-header > span {
  padding: 10px;
  font-size: 1.3em;
  font-style: italic;
  color: var(--secon-color);
}

.content-order-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-order-content > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-order-content div img {
  width: 100px;
}

.content-order-content > .price {
  color: var(--main-color);
  font-size: 1.2em;
  font-style: italic;
  font-family: var(--main-style);
}

.content-order-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 30px);
  padding: 15px;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  margin-top: 1px;
}

.content-order-footer .deleteBy {
  font-size: 0.9em;
  color: var(--secon-text-color);
  font-family: var(--main-style);
}

.content-order-footer .total-price {
  font-size: 1.2em;
}

.content-order-footer .total-price span {
  font-size: 1.6em;
  font-family: cursive;
  color: var(--main-color);
  margin-left: 15px;
  font-family: var(--main-style);
}

.quantity i {
  font-size: 0.7em;
}

.quantity {
  color: var(--secon-text-color);
}

.deleteOrder {
  margin-right: 15px;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  color: #fff;
  background-color: var(--secon-color);
  font-family: var(--main-style);
  border-radius: 10px;
  cursor: pointer;
}

.change-password {
  position: relative;
}

.confirm-change-pass {
  width: 100%;
  height: 100%;
  background-color: #cfcdcd59;
  position: absolute;
  top: 0;
  /* left: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-confirm {
  min-width: 280px;
  width: fit-content;
  background-color: #fff;
  height: 150px;
  border-radius: 5%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: var(--main-style);
  justify-content: space-between;
}

.text-main {
  width: calc(100% - 40px);
  padding: 10px 0;
}

.show {
  animation: show 0.5s ease-in-out forwards;
}

.hiden {
  animation: hiden 0.5s ease-in-out forwards;
}

@keyframes show {
  0% {
    right: 150%;
  }
  100% {
    right: 0%;
  }
}

@keyframes hiden {
  0% {
    right: 0;
  }
  100% {
    right: 150%;
  }
}

.container-confirm > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-confirm > div > button {
  border: none;
  outline: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1.1em;
  transition: all .5s ease-in-out;
}

.text-main {
  font-size: 1.3em;
}

.container-confirm > div > button:hover {
  color: #fff;
}

.confirm-btn {
  background-color: rgb(152, 152, 255);
  color: blue;
}

.close-btn {
  color: #000;
  background-color: #686868;
}
