<div class="notification">
  <app-notification
    [data]="dataNotification"
    [trigger]="trigger"
  ></app-notification>
</div>
<div class="container">
  <div class="content-f">
    <div class="User-header">
      <i class="fa-regular fa-user"></i>
      <span>
        {{ userInfo.accountName }}
      </span>
    </div>
    <ul>
      <!-- data-aos="fade-right" -->
      <li
        class="dashboard-item no-select"
        [ngClass]="{ active: isActive === 1 }"
        (click)="changeActive(1)"
      >
        <i class="fa-solid fa-address-book"></i>
        <span>Hồ Sơ</span>
      </li>
      <!-- data-aos="fade-right" -->
      <li
        class="dashboard-item no-select"
        [ngClass]="{ active: isActive === 3 }"
        (click)="changeActive(3)"
      >
        <i class="fa-solid fa-address-book"></i>
        <span>Đổi Mật Khẩu</span>
      </li>
      <!-- data-aos="fade-right" -->
      <li
        class="dashboard-item no-select"
        [ngClass]="{ active: isActive === 2 }"
        (click)="changeActive(2)"
      >
        <i class="fa-solid fa-truck"></i>
        <span>Đơn Mua</span>
      </li>
      <!-- data-aos="fade-right" -->
      <li class="dashboard-item no-select" (click)="logOutHandler()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Đăng Xuất</span>
      </li>
    </ul>
  </div>
  <div class="content-r">
    <div class="content-ho-so content" *ngIf="isActive === 1">
      <div class="header">
        <span>Thông tin cá nhân</span>
      </div>
      <div class="br"></div>
      <div class="secon-content">
        <div class="box-content no-select">
          <label for="userName">Tên Đăng Nhập:</label>
          <div class="box-input">
            <input
              type="text"
              disabled=""
              class="no-change"
              id="userName"
              [(ngModel)]="userInfo.accountName"
            />
          </div>
        </div>
        <div class="box-content no-select">
          <label for="Name">Họ và tên:</label>
          <div class="box-input">
            <input
              type="text"
              id="Name"
              [(ngModel)]="userInfo.fullName"
              [placeholder]="
                userInfo.fullName ? userInfo.fullName : 'Chưa xác định!'
              "
            />
          </div>
        </div>
        <div class="box-content no-select">
          <label for="email">Email:</label>
          <div class="box-input">
            <input
              type="text"
              id="email"
              [(ngModel)]="userInfo.email"
              [placeholder]="userInfo.email ? userInfo.email : 'Chưa xác định!'"
            />
          </div>
        </div>
        <div class="box-content no-select">
          <label>Địa chỉ:</label>
          <div class="box-input">
            <div class="box-edit-address">
              <app-address
                [address]="address"
                (addressChange)="getAddressChangeChildComponent($event)"
              ></app-address>
              <app-commune
                [selectedCommuneId]="userInfo.commune"
                [selectedDistrictId]="userInfo.district!"
                (communeOutput)="getCommutNameChangeChildComponent($event)"
              ></app-commune>
              <app-district
                [selectedProvinceId]="userInfo.province!"
                (selectedDistrictIdChange)="
                  getDistrictIDChangeChildComponent($event)
                "
                [selectedDistrictId]="userInfo.district!"
              ></app-district>
              <app-province
                [selectedProvinceId]="userInfo.province!"
                (selectedProvinceIdChange)="
                  getProvinceIDChangeChildComponent($event)
                "
              ></app-province>
            </div>
          </div>
        </div>
        <div class="box-content no-select">
          <label for="sdt">Số điện thoại:</label>
          <div class="box-input">
            <input
              type="text"
              id="sdt"
              [(ngModel)]="userInfo.phone"
              [placeholder]="userInfo.phone ? userInfo.phone : 'Chưa xác định!'"
            />
          </div>
        </div>
        <div class="box-content no-select">
          <label for="gender">Giới tính:</label>
          <div class="box-input">
            <select name="gender" id="gender" [(ngModel)]="userInfo.gender">
              <option value="0">Nữ</option>
              <option value="1">Nam</option>
              <option value="-1">Chưa xác định</option>
            </select>
          </div>
        </div>
        <div class="box-content no-select">
          <label for="typeCus">Khách hàng:</label>
          <div class="box-input">
            <input
              type="text"
              class="no-change"
              disabled="true"
              id="typeCus"
              [(ngModel)]="userInfo.customerType"
            />
          </div>
        </div>

        <!-- data-aos="fade-left" -->
        <div class="button-main no-select" (click)="isHandleUpdate()">
          Cập Nhật
        </div>
      </div>
    </div>
    <div class="content-don-mua content" *ngIf="isActive === 2">
      <div class="header-order">
        <ul>
          <li
            class="order-header-item no-select"
            [ngClass]="{ active: underActive === 0 }"
            (click)="moveUnderline(0)"
            (click)="getOrder(-1)"
          >
            <span>Tất cả</span>
          </li>
          <li
            class="order-header-item no-select"
            [ngClass]="{ active: underActive === 1 }"
            (click)="moveUnderline(1)"
            (click)="getOrder(1)"
          >
            <span>Chờ xử lý</span>
          </li>
          <li
            class="order-header-item no-select"
            [ngClass]="{ active: underActive === 2 }"
            (click)="moveUnderline(2)"
            (click)="getOrder(2)"
          >
            <span>Chờ đóng gói</span>
          </li>
          <li
            class="order-header-item no-select"
            [ngClass]="{ active: underActive === 3 }"
            (click)="moveUnderline(3)"
            (click)="getOrder(3)"
          >
            <span>Đang Vận chuyển</span>
          </li>
          <li
            class="order-header-item no-select"
            [ngClass]="{ active: underActive === 4 }"
            (click)="moveUnderline(4)"
            (click)="getOrder(4)"
          >
            <span>Đã Giao</span>
          </li>
          <li
            class="order-header-item no-select"
            [ngClass]="{ active: underActive === 5 }"
            (click)="moveUnderline(5)"
            (click)="getOrder(0)"
          >
            <span>Đã Hủy</span>
          </li>
          <div
            class="unline"
            [ngStyle]="{ transform: underlineTransform }"
          ></div>
        </ul>
      </div>

      <!-- data-aos="fade-down-right" -->
      <div class="content-order" *ngFor="let item of orders" data-aos="fade-right">
        <div class="content-order-header" >
          <div class="content-order-header-header">
            <span *ngIf="item.paymentStatus">Đã thanh toán</span>
            <span *ngIf="!item.paymentStatus">Thanh toán khi nhận hàng</span>
            <span [ngSwitch]="item.state">
              <span *ngSwitchCase="0">Đã Hủy</span>
              <span *ngSwitchCase="1">Đang xử lý</span>
              <span *ngSwitchCase="2">Đang đóng gói</span>
              <span *ngSwitchCase="3">Đang Vận chuyển</span>
              <span *ngSwitchCase="4">Đã Giao</span>
            </span>
          </div>
          <div class="content-order-content">
            <div>
              <img [src]="'assets/Products/' + item.image" alt="" />
              <span class="name"
                >{{ item.productname }}
                <br />
                <span class="quantity">
                  <i class="fa-solid fa-xmark"></i>
                  {{ item.quantity }}
                </span>
              </span>
            </div>
            <span class="price">{{ item.price | customCurrency }}</span>
          </div>
        </div>
        <div class="content-order-footer">
          <!-- <span class="deleteBy">Đã hủy bởi bạn</span> -->
          <button
            class="deleteOrder"
            *ngIf="item.state === 1 && !item.paymentStatus"
            (click)="onShowConfirmDelete(item.orderid, item.pricehistoryid)"
          >
            <!-- (click)="deleteOrder(item.orderid, item.pricehistoryid)" -->
            Hủy đơn
          </button>
          <span class="total-price"
            >Thành tiền
            <span>{{ item.totalprice | customCurrency }}</span></span
          >
        </div>
      </div>
      <div
        *ngIf="isShowConfirmDelete"
        class="confirmDelete"
        [ngClass]="{
          show: isShowConfirmDelete,
          hiden: !isShowConfirmDelete
        }"
      >
        <div class="confirmDelete-content">
          <div>
            <p class="text-main">Xác nhận xóa sản phẩm khỏi đơn hàng</p>
          </div>
          <div>
            <button class="close-btn" (click)="onShowConfirmDelete(0, 0)">
              Đóng
            </button>
            <button class="confirm-btn" (click)="deleteOrder()">
              Xác nhận
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="change-password content" *ngIf="isActive === 3">
      <div class="header">
        <span>Đổi mật khẩu</span>
      </div>
      <div class="secon-content">
        <div class="box-content no-select">
          <label for="userName">Tên Đăng Nhập:</label>
          <div class="box-input">
            <input
              type="text"
              disabled=""
              class="no-change"
              id="userName"
              [(ngModel)]="changePass.accountName"
            />
          </div>
        </div>
        <div class="box-content no-select">
          <label for="pass">Mật khẩu hiện tại:</label>
          <div class="box-input">
            <input
              type="password"
              id="pass"
              [(ngModel)]="changePass.password"
            />
          </div>
        </div>
        <div class="box-content no-select">
          <label for="newpass">Mật khẩu mới:</label>
          <div class="box-input">
            <input
              type="password"
              id="newpass"
              [(ngModel)]="changePass.newPassword"
            />
          </div>
        </div>

        <div class="button-main no-select" (click)="onShowConfirmChangePass()">
          Đổi mật khẩu
        </div>
      </div>

      <!-- *ngIf="isShowConfirmChangePass" -->
      <div
        class="confirm-change-pass"
        [ngClass]="{
          show: isShowConfirmChangePass,
          hiden: !isShowConfirmChangePass
        }"
      >
        <div class="container-confirm">
          <div>
            <p class="text-main">Xác nhận thay đổi mật khẩu</p>
            <span>Sau khi thay đổi mật khẩu vui lòng đăng nhập lại...!</span>
          </div>
          <div>
            <button class="close-btn" (click)="onShowConfirmChangePass()">
              Đóng
            </button>
            <button class="confirm-btn" (click)="onChangePassword()">
              Xác nhận
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
