<div class="container">
  <button (click)="sendIsClose()" class="close">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <div class="header">
    <span class="header-text no-select">
      <span></span>
      Thêm Phòng Ban</span
    >
  </div>
  <div class="header-action"></div>

  <div class="content">
    <div class="inp-form">
      <label class="no-select" for="name-product">Tên phòng ban: </label>
      <input
        type="text"
        [(ngModel)]="departmentName"
        (ngModelChange)="checkCategoryProperties()"
        id="name-product"
        placeholder="Tên phòng ban..."
      />
    </div>
  </div>

  <button (click)="onDelete()" class="no-select del-btn">Xóa</button>
  <button (click)="onUpdate()" *ngIf="isAdd" class="no-select insert">
    Thêm
  </button>
  <div class="notification">
    <app-notification
      [data]="dataNotification"
      [trigger]="trigger"
    ></app-notification>
  </div>
</div>
