.container {
  width: 100vw;
  animation: left-to-right 0.75s ease;
  background-color: #f0f0f0;
}

.wrapper-header {
  width: 100vw;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0 1px 0 #ccc;
}

.header {
  width: var(--main-width);
  height: 125px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  height: 100%;
  width: 125px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 70%;
}

.menu-ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.menu-li {
  padding: 8px;
  cursor: pointer;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  color: var(--secon-text-color);
  transition: all .5s ease-in-out;
}

.menu-li.active {
  color: var(--main-text-color);
}

.cart-user {
  width: 75px;
}

.cart-user .user,
.cart-user .cart {
  font-size: 22px;
}

.login {
  color: #fff;
  background-color: var(--main-color);
  border-radius: 5px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.login:hover {
  font-style: italic;
  color: #4c4c4c;
}

/* FOOTER */
.footer {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.footer- {
  width: var(--main-width);
  height: 210px;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.copyright-text {
  font-size: 0.7em;
}

.logo-ft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
}

.logo-ft img {
  width: 65%;
}

.group-btn {
  width: 215px;
  display: flex;
  justify-content: flex-end;
}

.group-btn a {
  margin: 0 10px;
}

.group-btn a i {
  color: #fff;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--main-color);
  transition: all 1s ease;
}

.group-btn a:hover i {
  background-color: #fff;
  color: var(--main-color);
}

@keyframes left-to-right {
  0% {
    margin-left: 100vw;
  }
  100% {
    margin-left: 0vw;
  }
}

/* background-main */

.background-main {
  background-image: url(/assets/background/snapedit_1730017847153.jpeg);
  background-repeat: no-repeat;
  /* width: 1200px; */
  height: 300px;
  margin: auto;
  background-size: cover;
  max-width: 100vw;
  margin-top: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* content */
.content {
  width: var(--main-width);
  margin: auto;
}

.wrapper {
  display: inline-block;
}

.wrapper-1 {
  /* width: fit-content; */
  padding: 10px 25px;
  backdrop-filter: blur(5px);
  width: 520px;
}

.text-main {
  font-size: 5.5em;
  font-weight: 900;
  color: var(--main-color);
  letter-spacing: 3px;
  margin: 0;
  width: 100%;
  text-transform: uppercase;
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.5s steps(9), cursor 0.4s step-end infinite alternate;
}

.text,
.text-main {
  text-align: center;
}

.text {
  padding: 2px 10px;
  color: #df8301;
  font-style: italic;
  font-size: 1.5em;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.user {
  position: relative;
}

.user:hover .box-user {
  display: flex;
}

.box-user {
  position: absolute;
  padding: 5px;
  background-color: var(--main-color);
  min-height: 50px;
  width: max-content;
  min-width: 100px;
  top: 35px;
  transition: all 0.5s ease-in-out;
  right: 0px;
  left: -10px;
  display: none;
  animation: RightToLeft 0.5s ease-in-out;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.box-user::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--main-color) transparent;
}

.box-user::before {
  content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 40px;
    height: 25px;
    background-color: transparent;
}

.menu-li-content:hover {
  animation: shake .5s ease-in-out infinite;
}

@keyframes RightToLeft {
  0% {
    left: 1000%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: -5px;
  }
}
