<!-- Top Bar -->
<header class="top-bar">
    <h2 class="top-bar-title">Quản Lý Sản Phẩm Sắp Hết Hạn</h2>
  </header>
  <!-- Kho Information Section -->
  <div class="section">
    <h3 class="section-title">Danh Sách Sản Phẩm Sắp Hết Hạn</h3>
  
    <table class="table">
      <thead>
        <tr class="table-header">
          <th class="table-cell">Tên Sản Phẩm</th>
          <th class="table-cell">Ngày Hết Hạn</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <tr *ngFor="let pE of productsExpriry">
          <td class="table-cell">{{ pE.productName }}</td>
          <td class="table-cell">{{ pE.expriryDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>