<div class="container">
  <div class="header">
    <span class="header-text">
      <span></span>
      Danh Sách Phòng Ban</span
    >
  </div>

  <div class="header-action">
    <div class="btn-add-product btn" (click)="onShowAddCate()">
      <i class="fa-solid fa-plus"></i>
      Thêm sản phòng ban
    </div>
  </div>

  <div class="content">
    <div class="content-body">
      <div class="content-mini" *ngFor="let item of deparments" (click)="onShowDetail()">
        <i class="fa-regular fa-building"></i>
        <!-- <i class="fa-solid fa-users-viewfinder"></i> -->
        <div>
          <span>{{ item.departmentName }}</span>
          <span>Nhân viên: {{ item.sumEmployee }}</span>
        </div>
      </div>
    </div>
    <div class="content-footer">
      <span>Trang {{ pageCurrent }} / {{ totalPage }}</span>

      <div class="f-content page">
        <button
          [ngClass]="{ 'no-active': pageCurrent === 1 }"
          (click)="handlePageClick(-1)"
        >
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button class="btn-page">{{ pageCurrent }}</button>
        <button
          [ngClass]="{ 'no-active': pageCurrent === totalPage }"
          (click)="handlePageClick(1)"
        >
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="add-cate"
  *ngIf="flag"
  [ngClass]="{ hiden: !isShowAddDepartment && flag, show: isShowAddDepartment }"
>
  <div class="content-add-cate">
    <!-- <app-add-cate (isClose)="handleClose($event)"></app-add-cate> -->
    <app-add-deparment (isClose)="handleClose($event)"></app-add-deparment>
  </div>
</div>
<div
  class="deparment-detail"
  *ngIf="flagDetail"
  [ngClass]="{ hiden: !isShowDetail && flagDetail, show: isShowDetail }"
></div>
